.container-home{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    margin-bottom: 0px;
    background-size: 100% 100%;
}

.info-component{
    padding-top: 280px;
    width: 55%;
    float: left;
    height: 100%;
    padding-left: 8%;
}
 
.login-component{
    padding-top: 220px;
    width: 40%;
    float: left;
    height: 100%;
}