$verde-forte: #14400D;
$verde: #388C2B;
$verde-fraco: #6AD959;
$roxo-forte: #40072E;
$roxo: #8C2B6E;
$preto: #45454B;
$branco: #FAFAFA;

$fonte-um: 'Abril Fatface';
$fonte-dois: 'Libre Baskerville';
$fonte-tres: Aileron;


.app{
    font-family: $fonte-um, $fonte-dois, $fonte-tres;
    font-size: 16px;
    color: $preto;
}