$verde-forte: #189395;
$verde-titulo: #146869;
$roxo-forte: #50307c;
$preto: #323434;
$branco: #FAFAFA;
$preto-borda: #32343421;
$preto-modal: #32343496;

$fonte-um: 'Abril Fatface';
$fonte-dois: 'Libre Baskerville';
$fonte-tres: Arial;

// Imagens
.logo-navbar{
    height: 140px;
    margin-top: 5px;
}

// App ----------------------------------------------

.app{
    font-family: $fonte-um, $fonte-dois, $fonte-tres;
    font-size: 16px;
    color: $branco;
}

body{
    background-color: $branco;
}



.fonte-titulo{
    font-weight: bolder;
    font-family: $fonte-tres;
    
}

.fonte-corpo{
    font-family: $fonte-tres;
    //color: $preto;
}

.conteudo-experiencias, .datas{
    color: $preto;
}

// Pages --------------------------------------------

//botões de atalho
.button-atalho-perfil{
    border-radius: 100%;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 80px;
    //width: 80px;
    width: 6.5%;
    position: relative;
    top: -95px;
    left: 550px;
}

.link-atalho-perfil{
    color: $branco;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

.button-editar{
    border-radius: 25px;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 30px;
    width: 100px;
    position: relative;
    top: -70%;
    left: 30%;
}

.button-editar:hover{
    background-color: $roxo-forte;
    border-color: $roxo-forte;
}

#botao-editar-vaga{
    top: -45%;
    left: 35%;
}

.link-editar{
    color: $branco;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

// Header - USO GERAL
.header{
    width: 15%;
    min-width: 150px;
    height: 100vh;
    padding-top: 5vh;
    position: fixed;
    text-align: center;
    background-color: $verde-forte;
}

// Pesquisa - USO GERAL
.pesquisa-empresas, .pesquisa-vagas{
    padding-top: 3%;
}

// Feed, Salvos e Empresas - USO COMUM
// - Container
.container-pages{
    width: 100%;
    height: 100vh;
}

// - Container - Vagas e Empresas
.container-vagas, .container-empresas{
    width: 85%;
    min-height: 100vh;
    padding-top: 5vh;
    float: right;
    text-align: center;
    background-color: $branco;
}

// - Div - Vaga e Empresa
//.div-vaga, .div-empresa{
    //padding-top: 5vh;
//}

// Home
.container-home{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.info-component{
    width: 55%;
    height: 100%;
    padding-top: 290px;
    padding-left: 8%;
    float: left;
}
 
.login-component{
    width: 22%;
    height: 100vh;
    padding-top: 250px;
    margin-left: 210px;
    float: left;
    color: $preto;
}

.cadastrar-component{
    width: 50vw;
    height: 100vh;
    padding-top: 60px;
    margin-left: 26%;
    float: left;
    color: $preto;
}

// Feed e Salvos
.pesquisa-vagas{
    margin-left: 275px;
}

// Empresas
.container-empresas{
    padding-left: 50px;
    padding-bottom: 10px;
}

.pesquisa-empresas{
    margin-left: 240px;
}

// Perfil Estudante e Perfil Empresa
.container-perfis{
    width: 80%;
    min-height: 100vh;
    padding-top: 5vh;
    padding-left: 30px;
    padding-bottom: 10px;
    float: right;
    text-align: center;
    background-color: $branco;
}

// Components ---------------------------------------

// Empresas e Vagas - USO COMUM
.container-empresa, .container-vaga{
    display: inline-block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: $branco;
    color: $preto;
    border-color: $preto;
    border: solid 2px $preto-borda;
    //margin-bottom: 20%;
}

.container-empresa .titulo-empresas{
    color: $preto;
}

// Perfil Empresa e Curriculo - USO COMUM
.cabecalho-perfis{
    width: 95%;
    height: 150px;
    color: #323434;
}

.titulos-perfis{
    margin-top: 20px;
    margin-left: 5px;
    //width: 1100px;
    width: 100%;
    text-align: left;
    color: $verde-titulo;
}

.titulo-perfil {
    float: left;
    text-align: left;
    //width: 900px;
    width: 83%;
    //height: 40px;
    height: auto;
    //margin-left: 20px;
    margin-left: 2%;
}

.titulo-perfis-empresa{
    color: $preto;
}

.img-perfis{
    float: left;
    //width: 150px;
    width: 15%;
    //height: 150px;
    height: 100%;
    font-size: 2.5cm;
}

.curso, .sociais {
    float: left;
    text-align: left;
    //width: 900px;
    width: 83%;
    //margin-left: 20px;
    margin-left: 2%;
}

.curso {
    //height: 30px;
    height: auto;
}

.sociais {
    //height: 80px;
    height: auto;
}

.sobre-perfis, .objetivo-curriculo, .experiencia-curriculo, .curso-curriculo, .formacao-curriculo{
    width: 92%;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 25px;
    text-align: left;
    background-color: $branco;
    border: solid 2px $preto-borda;
    color: $preto;
}

// Cadastro

.container-cadastro{
    padding: 30px;
    padding-top: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: $preto;
    color: $branco;
    width: 100%;
}

.container-cadastro .txt{
    margin: 15px auto 0px auto;
}

.container-cadastro h3{
    text-align: left;
    font-weight: 700;
    padding: 1%;
}

.txt-form-group{
    padding-bottom: 3%;
}

.container-cadastro .btn{
    background-color: $verde-forte;
    border-color: $verde-forte;
}

.container-cadastro .btn:hover{
    background-color: $branco;
    border-color: $branco;
    color: $preto;
}

// Login
.container-login {
    text-align: center;
}

.container-login a {
    text-decoration: none;
    color: $preto;
}

.container-login .link-cadastro {
    color: $verde-forte;
}
.container-login .link-cadastro:hover {
    color: $preto;
}

.link{
    padding-top: 6%;
}

// .cabecalho-login{ // tirar
//     margin: 0px auto 10px auto;
//     width: 150px;
// }

.login .txt{
    width: 80%;
}

.login .btn{
    width: 100px;
    margin-top: 15px;
    background-color: $preto;
    border-color: $branco;
    color: $branco;
}

.login .btn a{
    border-color: $branco;
    color: $branco;
}

.login .btn:hover{
    background-color: $verde-forte;
    border-color: $branco;
    color: $branco;
}

.login .btn a:hover{
    background-color: $verde-forte;
    border-color: $branco;
    color: $branco;
}

.login input{ 
    margin: 15px auto 0px auto;
}

// .radio{ // tirar
//     width: 100px;
//     text-align: left;
//     margin-left: 180px;
// }

// .radio input{  // tirar
//     height: 13px;
//     width: 13px;
// }

// .radio label{ // tirar
//     margin-top: 5px;
// }


//Editar--------------------------------------------------------------------------------------------
#usuario, #idade, #nome{
    padding: 0%;
    margin: 0%;
}

#nome, #experiencia, #nivel, #nome-curso::placeholder{
    font-weight: bold;
}

#data-final{
    margin-left: 7%;
}

#data-inicial, #data-final{
    width: 133px;
}

#objetivo, #objetivo::placeholder, #salario, #salario::placeholder, #idade, #idade::placeholder, #descricao-vaga, #descricao-vaga::placeholder{
    background-color: $branco;
    color: $preto;
}

.form-editar{
    border-radius: 5px;
    border-width: 0px;
    width: 100%;
    background-color: $branco;

}

.form-editar::placeholder{
    color: $preto;
}

.objetivo-curriculo-editar{
    width: 92%;
    margin-top: 175px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 25px;
    text-align: left;
    background-color: $branco;
    color: $preto;
    border: solid $preto-borda 2px;
    border-radius: 20px;
}

#objetivo{
    border: solid 2px $preto-borda;
    border-radius: 20px;
}

.button-salvar{
    border-radius: 25px;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 30px;
    width: 100px;
    position: relative;
    top: 3%;
    left: 5%;
    color: $branco;
}

.button-salvar:hover{
    background-color: $roxo-forte;
    border-color: $roxo-forte;
}

//empresa
.sobre-perfis-editar{
    width: 92%;
    margin-top: 10%;
    padding: 20px;
    padding-top: 10px;
    border-radius: 25px;
    text-align: left;
    background-color: $preto;
    position: relative;
    top: -1000%
}

#desc, #desc::placeholder{
    background-color: $preto;
    color: $branco;
}

#usuario-empresa, #telefone-empresa, #email-empresa, #senha-empresa, #cidade-empresa{
    position: relative;
    left: 2%;
    right: 90%;
}

#salario{
    margin-top: 2%;
}

#titulo-vaga{
    font-weight: bold;
}

#button-salvar-vaga{
    left: 0%;
}

//---------------------------------------------------------------------------------------------------

// Info
.container-info{
    width: 80%;
}

// Header
.container-links a{ 
    color: $branco;
    font-weight: 300;
    font-size: 19px;
    text-decoration: none;
    width: 80%;
}

.container-links a:hover{ 
    color: $roxo-forte;
}

.container-links .link{ 
    padding-top: 30px;
}

.container-links img{ 
    margin-bottom: 90px;
    width: 61%;
}

.container-links .botao{ 
    margin-top: 90px;
    background-color: $preto;
    width: 50px;
    height: 0px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    size: 10px;
    color: $branco;
}

.container-links .botao a{
    font-size: 15px;
}

.container-links .botao:hover{ 
    color: $branco;
    background-color: $roxo-forte;
}

.container-links .botao a:hover{ 
    color: $branco;
}

// Pesquisa
.caixa-pesquisa{
    width: 500px;
}

.botao-pesquisa{
    width: 125px;
}

// Vagas
.container-geral-vagas{
    //display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.container-vaga{
    width: 80%;
    padding-left: 15px;
    margin: 0px;
    //display: inline-block;
}

.titulo-vagas, .corpo-vagas{
    width: 75%;
    //width: 650px;
    text-align: left;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

.botao-vagas{
    //width: 230px;
    width: 25%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    float: right;
}

.botao-vagas .btn{
    width: 100%;
    margin-left: 7px;
    background-color: $branco;
    font-family: $fonte-tres;
    font-weight: bolder;
    color: $preto;
    background-color: $verde-forte;
    border: 0px;
}

.botao-vagas .btn:hover{
    background-color: $preto;
    color: $branco;
}

// Empresas
.container-geral-empresas{
    display: inline-block;
    //width: 1000px;
    width: 100%;
    text-align: left;
}

.container-empresa{
    width: 25%;
    //width: 220px;
    margin-left: 65px;
}

.titulo-empresas{
    //width: 200px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.titulo-empresas a{
    text-decoration: none;
    color: $preto;
}

.titulo-empresas a:hover{
    color: $verde-forte;
}

.corpo-empresas{
    //width: 200px;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-right: 15px;
    margin-bottom: 10px;
}

// Perfil Empresa
.perfil-empresa-vaga{
    //width: 1000px;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 2.5%;
}

// Curriculo
.cursos-component, .experiencia-component, .formacao-component{
    //width: 1100px;
    width: 100%;
    margin-top: 15px;
}

// Dicas
.container-modal{
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    top: -43px;
    left: 5px;
    margin-bottom: 0px;
}

.modal-overlay{
    background: $preto-modal;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 90%;
    max-width: 500px;
    background-color: $branco;
    padding: 29px;
    border-radius: 15px;
}

.button-modal{
    padding: 5px;
    font-size: large;
    float: right;
    cursor: pointer;
    border-radius: 25px;
    background-color: $verde-forte;
    border: none;
    color: $branco;
    margin: 15px;
}

.button-modal-open{
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(165, 42, 42, 0);
    border: none;
    color: $branco;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
}

// Experiencias, Cursos e Formação
.container-cursos-exper{
    padding: 15px;
    border-radius: 25px;
    background-color: $roxo-forte;
    margin-right: 50px;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.experiencia-component, .cursos-component, .formacao-component {
    border: solid $preto-borda 2px;
    border-radius: 20px;
}

.cabecalho-cursos-exper{
    width: 100%;
    height: 100%;
    text-align: left;
}

.titulos-cursos-exper{
    //width: 1100px;
    width: 100%;
    float: left;
    color: $preto;
}

.conteudo-experiencias, .conteudo-cursos, .conteudo-formacao{
    height: auto;
    display: inline;
}

.data-inicio, .data-fim{
    width: 200px;
    float: left;
    display: inline;
}

.data-inicio{
    //width: 90px;
    width: 9%;
}

.data-fim{
    //width: 975px;
    width: 91%;
    padding-left: 3px;
}

// Editar
.cabecalho-perfis .input-cadastrar{
    width: 70%;
}