$verde-forte: #14400D;
$verde: #388C2B;
$verde-fraco: #6AD959;
$roxo-forte: #40072E;
$roxo: #8C2B6E;
$preto: #45454B;
$branco: #FAFAFA;

.app{
    font-family: 'Abril Fatface', 'Libre Baskerville', Aileron;
    font-size: 16px;
    color: #45454B;
}