$verde-forte: #189395;
$verde-titulo: #146869;
$verde-iniciais: #033c3d;
$verde-borda: #14686940;
$roxo-forte: #4c369b;
$preto: #323434;
$branco: #FAFAFA;
$preto-borda: #32343421;
$preto-modal: #32343496;

$fonte-um: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Imagens
.logo-navbar{
    height: 140px;
    margin-top: 5px;
}

// App ----------------------------------------------

.logo-home{
    font-size: 20000px;
}

.app{
    font-family: $fonte-um;
    font-size: 16px;
    color: $branco;
}

body{
    background-color: $branco;
}

.header{
    box-shadow: -10px 1px 40px 10px rgba(123, 157, 160, 0.695);
}

.fonte-titulo{
    font-weight: bolder;
    font-family: $fonte-um;
    
}

.fonte-corpo{
    font-family: $fonte-um;
    //color: $preto;
}

.conteudo-experiencias, .datas{
    color: $preto;
}

.datas{
    width: 100%;
}

// Pages --------------------------------------------

//botões de atalho
.button-atalho-perfil{
    border-radius: 100%;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 80px;
    //width: 80px; 
    width: 6.5%;
    position: relative;
    top: -95px;
    left: 550px;
}

.link-atalho-perfil{
    color: $branco;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
}

.button-editar{
    border-radius: 25px;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 30px;
    width: 100px;
    position: relative;
    top: -70%;
    left: 30%;
}

.button-editar:hover{
    background-color: $roxo-forte;
    border-color: $roxo-forte;
    transition: 0.3s;
}

#botao-editar-vaga{
    top: -45%;
    left: 35%;
}

.link-editar{
    color: $branco;
    font-weight: 300;
    font-size: 15px;
    text-decoration: none;
}

// Header - USO GERAL
.header{
    width: 15%;
    min-width: 150px;
    height: 100vh;
    padding-top: 5vh;
    position: fixed;
    text-align: center;
    background-color: $verde-forte;
}

// Pesquisa - USO GERAL
.pesquisa-empresas, .pesquisa-vagas{
    padding-top: 3%;
}

// Feed, Salvos e Empresas - USO COMUM
// - Container
.container-pages{
    width: 100%;
    height: 100vh;
}

// - Container - Vagas e Empresas

.container-vagas, .container-empresas{
    width: 85%;
    min-height: 100vh;
    padding-top: 5vh;
    float: right;
    text-align: center;
    background-color: $branco;
}

// - Div - Vaga e Empresa
//.div-vaga, .div-empresa{
    //padding-top: 5vh;
//}

.div-vaga{
    margin-top: 30px;
}

// Home
.container-home{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.info-component{
    width: 55%;
    height: 100%;
    padding-top: 250px;
    padding-left: 8%;
    float: left;
}
 
.login-component{
    width: 22%;
    height: 100vh;
    padding-top: 200px;
    margin-left: 210px;
    float: left;
    color: $preto;
}

.cadastrar-component{
    width: 50vw;
    height: 100vh;
    padding-top: 60px;
    margin-left: 26%;
    float: left;
    color: $preto;
}

// Feed e Salvos
.pesquisa-vagas{
    margin-left: 275px;
}

// Empresas
.container-empresas{
    padding-left: 50px;
    padding-bottom: 10px;
}

.pesquisa-empresas{
    margin-left: 240px;
}

// Perfil Estudante e Perfil Empresa
.container-perfis{
    width: 80%;
    min-height: 100vh;
    padding-top: 5vh;
    padding-left: 30px;
    padding-bottom: 10px;
    float: right;
    text-align: center;
    background-color: $branco;
}

// Components ---------------------------------------

// UI

#button-excluir{
    background-color: $preto;
}

// Empresas e Vagas - USO COMUM
.container-empresa, .container-vaga{
    display: inline-block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: $branco;
    color: $preto;
    border-color: $preto;
    border: solid 2px $preto-borda;
    // margin-bottom: 20%;
}

.container-empresa .titulo-empresas{
    color: $preto;
}

// Perfil Empresa e Curriculo - USO COMUM
.cabecalho-perfis{
    width: 95%;
    height: 150px;
    color: #323434;
}

.titulos-perfis{
    margin-top: 20px;
    margin-left: 5px;
    //width: 1100px;
    width: 100%;
    text-align: left;
    color: $verde-titulo;
}

.fonte-sobre {
    color: $verde-titulo;
}

.titulo-perfil {
    float: left;
    text-align: left;
    //width: 900px;
    width: 83%;
    //height: 40px;
    height: auto;
    //margin-left: 20px;
    margin-left: 2%;
}

.titulo-perfis-empresa{
    color: $preto;
}

.img-perfis{
    float: left;
    //width: 150px;
    width: 15%;
    //height: 150px;
    height: 100%;
    font-size: 2.5cm;
    color: $verde-iniciais;
}

.curso, .sociais {
    float: left;
    text-align: left;
    //width: 900px;
    width: 83%;
    //margin-left: 20px;
    margin-left: 2%;
}

.curso {
    //height: 30px;
    height: auto;
}

.sociais {
    //height: 80px;
    height: auto;
}

.sobre-perfis, .objetivo-curriculo, .experiencia-curriculo, .curso-curriculo, .formacao-curriculo, .habilidade-component, .palavras-vaga{
    width: 92%;
    margin-top: 20px;
    padding: 20px;
    padding-top: 10px;
    border-radius: 25px;
    text-align: left;
    background-color: $branco;
    border: solid 2px $preto-borda;
    color: $preto;
}

// Cadastro

.container-cadastro{
    padding: 30px;
    padding-top: 20px;
    border-radius: 25px;
    text-align: center;
    background-color: $preto;
    color: $branco;
    width: 100%;
}

.container-cadastro .txt{
    margin: 15px auto 0px auto;
}

.container-cadastro h3{
    text-align: left;
    font-weight: 700;
    padding: 1%;
}

.txt-form-group{
    padding-bottom: 3%;
}

// Login
.container-login {
    text-align: center;
}

.container-login .link-cadastro {
    color: $verde-forte;
}
.container-login .link-cadastro:hover {
    color: $preto;
    transition: 0.3s;
}

.link{
    padding-top: 6%;
}

// .cabecalho-login{ // tirar
//     margin: 0px auto 10px auto;
//     width: 150px;
// }

// .container-login .botao {
//     text-decoration: none;
//     color: $preto;
// }

// .container-login .botao:hover{
//     background-color: $verde-forte;
//     border-color: $branco;
//     color: $branco;
// }

.login .txt{
    width: 80%;
}

.login .botao{
    width: 100px;
    margin-top: 15px;
    background-color: $preto;
    border-color: $branco;
    color: $branco;
}

.login .btn:hover{
    background-color: $verde-forte;
    // border-color: $branco;
    color: $branco;
    transition: 0.3s;
}

.login .botao a:hover{
    // background-color: $verde-forte;
    // border-color: $branco;
    color: $branco;
}

.login a {
    color: $branco;
    font-weight: 400;
    font-size: 19px;
    text-decoration: none;
    width: 80%;
}

.login a:hover {
    color: $branco;
}

.login input{ 
    margin: 15px auto 0px auto;
}

// .radio{ // tirar
//     width: 100px;
//     text-align: left;
//     margin-left: 180px;
// }

// .radio input{  // tirar
//     height: 13px;
//     width: 13px;
// }

// .radio label{ // tirar
//     margin-top: 5px;
// }


//Editar--------------------------------------------------------------------------------------------
.button-salvar{
    border-radius: 25px;
    border-color: $verde-forte;
    background-color: $verde-forte;
    height: 30px;
    width: 100px;
    position: relative;
    top: 3%;
    left: 5%;
    color: $branco;
}

.button-salvar:hover{
    background-color: $roxo-forte;
    border-color: $roxo-forte;
    transition: 0.3s;
}

#button-salvar-vaga{
    left: 0%;
}

//---------------------------------------------------------------------------------------------------

// Info
.container-info{
    width: 80%;
}

// Header

.container-links a{ 
    color: $branco;
    font-weight: 600;
    font-size: 19px;
    text-decoration: none;
    width: 80%;
}

.container-links a:hover{ 
    color: $preto;
    transition: 0.4s;
    font-weight: 700;
    font-size: 22px;
}

.container-links .link{ 
    padding-top: 25px;
}

.container-links img{ 
    margin-bottom: 90px;
    width: 61%;
}

.container-links .botao{ 
    margin-top: 90px;
    background-color: $preto;
    width: 50px;
    height: 0px;
    text-align: center;
    padding-bottom: 30px;
    padding-left: 10px;
    size: 10px;
    color: $branco;
}

.container-links .botao a{
    font-size: 15px;
}

.container-links .botao:hover{ 
    color: $preto;
    background-color: $branco;
    transition: 0.4s;
}

.container-links .botao a:hover{ 
    color: $preto;
    transition: 0s;
}

// Pesquisa
.caixa-pesquisa{
    width: 500px;
}

.botao-pesquisa{
    width: 125px;
}

// Vagas
.container-geral-vagas{
    //display: inline-block;
    width: 100%;
    padding-bottom: 10px;
    text-align: center;
}

.container-vaga{
    width: 80%;
    padding-left: 15px;
    margin: 0px;
    margin-bottom: 10px;
    //display: inline-block;
}

.titulo-vagas, .corpo-vagas{
    width: 75%;
    //width: 650px;
    text-align: left;
    float: left;
    padding-left: 15px;
    padding-top: 10px;
}

.botao-vagas{
    //width: 230px;
    width: 25%;
    position: relative;
    top: -20px;
    bottom: -20px; // ver isso
    text-align: center;
    float: right;
}

.botao-vagas .btn{
    width: 100%;
    margin-left: 7px;
    background-color: $branco;
    font-family: $fonte-um;
    font-weight: bolder;
    color: $branco;
    background-color: $verde-forte;
    border: 0px;
}

.botao-vagas .btn:hover{
    background-color: $preto;
    color: $branco;
    transition: 0.3s;
}

.candidatos a{
    text-decoration: none;
    color: $preto;
}

.candidatos a:hover{
    text-decoration: none;
    color: $verde-forte;
    transition: 0.3s;
}

// candidatura
.btn-candidatura{
    margin: 0%;
    position: relative;
    left: -500px;
    right: 0;
}

.btn-candidatura{
    background-color: $verde-titulo;
    border: $verde-titulo;
    margin-top: 20px;
    margin-left: 76%;
    width: 200px;
    color: $branco;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    align-items: center;
    align-self: center;
    float: center;
    font-weight: 600;
}

.btn-candidatura:hover{
    background-color: $preto;
    transition: 0.3s;
}

// Empresas
.container-geral-empresas{
    display: inline-block;
    //width: 1000px;
    width: 100%;
    text-align: left;
}

.container-empresa{
    width: 25%;
    //width: 220px;
    margin-left: 65px;
}

.titulo-empresas{
    //width: 200px;
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

.titulo-empresas a{
    text-decoration: none;
    color: $verde-titulo;
}

.titulo-empresas a:hover{
    color: $preto;
}

.corpo-empresas{
    //width: 200px;
    width: 100%;
    padding: 10px;
    text-align: center;
    padding-right: 15px;
    margin-bottom: 10px;
}

// Perfil Empresa
.perfil-empresa-vaga{
    //width: 1000px;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 2.5%;
}

// Curriculo
.cursos-component, .experiencia-component, .formacao-component{
    //width: 1100px;
    width: 100%;
    margin-top: 15px;
}

.habilidades-component{
    //width: 1100px;
    width: 100%;
    margin-top: 25px;
    margin-bottom: 0px;
}

// Modal dicas
.container-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -43px;
    left: 5px;
    margin-bottom: 0px;
}

.modal-overlay{
    background: $preto-modal;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content{
    width: 90%;
    max-width: 500px;
    background-color: $branco;
    padding: 29px;
    border-radius: 15px;
}

.button-modal{
    padding: 5px;
    font-size: large;
    float: right;
    cursor: pointer;
    border-radius: 25px;
    background-color: $verde-forte;
    border: none;
    color: $branco;
    margin: 15px;
}

.button-modal-open{
    cursor: pointer;
    border-radius: 15px;
    background-color: rgba(165, 42, 42, 0);
    border: none;
    color: $verde-titulo;
    font-weight: 500;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
}

.modal-dica-editar {
    width: 20px;
    margin-left: 80%;
    margin-top: -3px;
}

.modal-dica-cur {
    width: 20px;
    margin-left: 33%;
    margin-top: -3px;
}

.modal-dica-exp {
    width: 20px;
    margin-left: 80%;
    margin-top: -3px;
}

.modal-dica-curso {
    width: 20px;
    margin-left: 70%;
    margin-top: -3px;
}

.modal-dica-for {
    width: 20px;
    margin-left: 71%;
    margin-top: -3px;
}

// Modal cadastros

#botao-open-cadastro{
    color: $verde-forte;
    font-size: 16px;
    font-weight: 600;
    margin-left: 0;
    padding-top: 12px;
}

#botao-open-cadastro:hover{
    color: $preto-modal;
    transition: 0.3s;
}

#span-ou{
    padding-left: 5px;
}

#botao-cadastro-modal{
    background-color: $verde-forte;
    border-color: $verde-forte;
    margin-top: 15px;
    margin-right: 12px;
}

#botao-cadastro-modal:hover{
    background-color: $preto;
    border-color: $preto;
    transition: 0.3s;
}

.button-fechar{
    background-color: #14686900;
    border: none;
    width: fit-content;
    color: $preto-modal;
    position: relative;
    left: 95%;
    top: 50%;
    display: inline-block;
}

.titulo-modal{
    position: relative;
    top: -100%;
    display: inline-block;
}

.cadastros-curriculo{
    padding: 8px;
}

.modal-cadastrar-cur {
    width: 20px;
    margin-left: 92%;
    margin-top: -40px;
}

.modal-cadastrar-exp {
    width: 20px;
    margin-left: 96%;
    margin-top: -12px;
}

.modal-cadastrar-curso {
    width: 20px;
    margin-left: 96%;
    margin-top: -12px;
}

.modal-cadastrar-for {
    width: 20px;
    margin-left: 96%;
    margin-top: -12px;
}

.modal-cadastrar-vaga {
    width: 20px;
    margin-left: 99%;
}

// modal editar

.modal-editar-emp {
    width: 20px;
    margin-left: 99%;
}

.modal-editar-vaga {
    width: 20px;
    margin-left: 70%;
    margin-top: 33px;
}

.modal-editar-est {
    width: 20px;
    margin-left: 99%;
}

.modal-editar-cur {
    width: 20px;
    margin-left: 97%;
    padding: 0px;
}

.modal-editar-exp {
    width: 20px;
    margin-left: 96%;
}

.modal-editar-curso {
    width: 20px;
    margin-left: 96%;
    margin-top: -4%;
}

.modal-editar-for {
    width: 20px;
    margin-left: 96%;
    margin-top: -4%;
}

// Menus ------------------------------------------------------------------------------------------------------
.button-menu{
    font-weight: 700;
    padding: 5px;
}

.menu-button-open{
    position: relative;
    // top: 50px;
    // right: 70px;
}

.dropDownMenu{
    position: absolute;
    display: grid;
    // top: 4.5rem;
    // right: 1.5rem;
    width: 120px;
    padding: 15px;
    border-radius: 8px;
    background-color: $branco;
    border: 1px solid $preto-borda;
    justify-content: flex-start;
}

.button-open-menu{
    cursor: pointer;
    position: relative;
    border-radius: 15px;
    background-color: rgba(165, 42, 42, 0);
    border: none;
    color: $preto;
    font-weight: 500;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: x-large;
    float: inline-end;
    bottom: 70px;
}

.button-menu-li{
    font-weight: 600;
    font-size: medium;
    list-style-type: none;
    text-align: left;
}

.menu-usuario{
    bottom: 35px;
    right: 50px;
    color: $preto;
}

.menu-usuario-empresa{
    bottom: 5px;
    top: 40px;
    right: 60px;
    color: $preto;
}

.menu-usuario-vaga{
    bottom: 45px;
    color: $preto;
}

#menu-vaga{
    color: $preto;
}

#menu-empresa{
    color: $preto;
}

.inline-type{
    right: 0;
    left: 0;
    bottom: 33px;
}

#cadastrar-curriculo{
    top: 45px;
    left: 45px;
    color: $verde-titulo;
}

// Experiencias, Cursos e Formação
.container-cursos-exper{
    padding: 15px;
    padding-top: 0px;
    border-radius: 25px;
    background-color: $roxo-forte;
    margin-right: 50px;
    height: 100%;
    width: 100%;
    background-color: #FAFAFA;
}

.form-control{
    -webkit-appearance: default-button;
    appearance: auto;
}

#label-form{
    margin-left: 5px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

// .experiencia-component, .cursos-component, .formacao-component {
//     // border: solid $preto-borda 2px;
//     // border-radius: 20px;
// }

.cabecalho-cursos-exper{
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 10px;
    margin-bottom: 10px;
    border: solid $preto-borda 2px;
    border-radius: 20px;
}

.titulos-cursos-exper{
    //width: 1100px;
    width: 100%;
    float: left;
    color: $preto;
}

.conteudo-experiencias, .conteudo-cursos, .conteudo-formacao{
    width: 100%;
    margin: 0px;
}

.data-inicio, .data-fim{
    width: 200px;
    // float: left;
    //display: inline;
}

.data-inicio{
    //width: 90px;
    width: 15%;
}

.data-fim{
    //width: 975px;
    width: 100%;
}

// Editar
.cabecalho-perfis .input-cadastrar{
    width: 70%;
}

// Error
.container-error {
    text-align: center;
    margin-top: 150px;
}

.container-error .botao {
    width: 20%;
    font-family: $fonte-um;
    color: $preto;
    background-color: $preto;
    border: 0px;
    margin-top: 30px;
}

.container-error .botao:hover {
    color: $branco;
    background-color: $verde-titulo;
    transition: 0.3s;
}

.container-error .titulo-error h1{
    color: $verde-titulo;
    font-size: 200px;
}

.container-error .sub-error{
    color: $preto;
}

.container-error a {
    color: $branco;
    text-decoration: none;
}

// botão excluir perfil

.btn-excluir-perfil a {
    color: $branco;
    text-decoration: none;
}