$verde-forte: #89BDB1;
$verde: #cce6e6;
$verde-fraco: #cce6e6;
$roxo-forte: #B2A0DF;
$roxo: #B2A0DF;
$preto: #45454B;
$branco: #FAFAFA;

$fonte-um: 'Abril Fatface';
$fonte-dois: 'Libre Baskerville';
$fonte-tres: Aileron;

// App ----------------------------------------------

.app{
    font-family: $fonte-um, $fonte-dois, $fonte-tres;
    font-size: 16px;
    color: $preto;
}

// Pages --------------------------------------------

// Header - USO GERAL
.header{
    width: 20%;
    height: 100vh;
    padding-top: 30vh;
    position: fixed;
    text-align: center;
    background-color: $verde-forte;
}

// Pesquisa - USO GERAL
.pesquisa-empresas, .pesquisa-vagas{
    padding-top: 3%;
}

// Feed, Salvos e Empresas - USO COMUM
// - Container
.container-pages{
    width: 100%;
    height: 100vh;
}

// - Container - Vagas e Empresas
.container-vagas, .container-empresas{
    width: 80%;
    min-height: 100vh;
    padding-top: 5vh;
    float: right;
    text-align: center;
    background-color: $branco;
}

// - Div - Vaga e Empresa
.div-vaga, .div-empresa{
    padding-top: 5vh;
}

// Home
.container-home{
    display: inline-block;
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-size: 100%;
}

.info-component{
    width: 55%;
    height: 100%;
    padding-top: 290px;
    padding-left: 8%;
    float: left;
}
 
.login-component{
    width: 30%;
    height: 100%;
    padding-top: 190px;
    margin-left: 150px;
    float: left;
}

// Feed e Salvos
.pesquisa-vagas{
    margin-left: 275px;
}

// Empresas
.container-empresas{
    padding-left: 50px;
    padding-bottom: 10px;
}

.pesquisa-empresas{
    margin-left: 240px;
}

// Perfil Estudante e Perfil Empresa
.container-perfis{
    width: 80%;
    min-height: 100vh;
    padding-top: 5vh;
    padding-left: 20px;
    padding-bottom: 10px;
    float: right;
    text-align: center;
    background-color: $branco;
}

// Components ---------------------------------------

// Empresas e Vagas - USO COMUM
.container-empresa, .container-vaga{
    display: inline-block;
    padding: 15px;
    margin-top: 30px;
    border-radius: 25px;
    background-color: $verde-fraco;
}

// Perfil Empresa e Curriculo - USO COMUM
.cabecalho-perfis{
    width: 100%;
    height: 150px;
}

.titulos-perfis{
    margin-top: 20px;
    margin-left: 5px;
    width: 1100px;
    text-align: left;
}

.titulo-perfil {
    float: left;
    text-align: left;
    width: 900px;
    height: 40px;
    margin-left: 20px;
}

.img-perfis{
    float: left;
    width: 150px;
    height: 150px;
    background-color: $roxo;
}

.curso, .sociais {
    float: left;
    text-align: left;
    width: 900px;
    margin-left: 20px;
}

.curso {
    height: 30px;
}

.sociais {
    height: 80px;
}

.sobre-perfis, .objetivo-curriculo{
    width: 1100px;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    background-color: $roxo;
}

// Login
.container-login {
    text-align: center;
}

.cabecalho-login{
    margin: 0px auto 10px auto;
    width: 150px;
}

.login .txt{
    width: 275px;
}

.login .btn{
    width: 100px;
    background-color: $roxo-forte;
    border-color: $branco;
    color: $branco;
}

.login input{ 
    margin: 10px auto 0px auto;
}

.radio{ 
    width: 100px;
    text-align: left;
    margin-left: 180px;
}

.radio input{ 
    height: 13px;
    width: 13px;
}

.radio label{ 
    margin-top: 5px;
}

// Info
.container-info{
    width: 80%;
}

// Header
.container-links a{ 
    color: $branco;
    font-size: 25px;
    text-decoration: none;
}

.container-links .link{ 
    padding-top: 30px;
}

// Pesquisa
.caixa-pesquisa{
    width: 500px;
}

.botao-pesquisa{
    width: 125px;
}

// Vagas
.container-geral-vagas{
    display: inline-block;
    width: 1200px;
    padding-bottom: 10px;
    text-align: center;
}

.container-vaga{
    width: 1000px;
}

.titulo-vagas, .corpo-vagas{
    width: 650px;
    text-align: left;
    float: left;
}

.botao-vagas{
    width: 230px;
    margin-top: auto;
    text-align: center;
    float: right;
}

.botao-vagas input{
    width: 200px;
    background-color: $roxo-forte;
    color: $branco;
}

// Empresas
.container-geral-empresas{
    display: inline-block;
    width: 1000px;
    text-align: left;
}

.container-empresa{
    width: 220px;
    margin-left: 80px;
}

.titulo-empresas{
    width: 200px;
    margin-top: 100px;
    text-align: center;
}

.corpo-empresas{
    width: 200px;
}

// Perfil Empresa
.perfil-empresa-vaga{
    width: 1000px;
    padding-bottom: 10px;
    margin-top: 0px;
}

// Curriculo
.cursos-component, .experiencia-component{
    width: 1100px;
    margin-top: 15px;
}

// Experiencias e Cursos
.container-cursos-exper{
    padding: 15px;
    border-radius: 25px;
    background-color: $roxo;
}

.cabecalho-cursos-exper{
    width: 100%;
    text-align: left;
}

.titulos-cursos-exper{
    width: 1100px;
    float: left;
}

.data-inicio, .data-fim{
    width: 200px;
    float: left;
}

.data-inicio{
    width: 88px;
}

.data-fim{
    width: 975px;
}
