.curriculo-component{
    width: 100%;
}

.cabecalho-curriculo{
    min-height: 100px;
    max-height: auto;
    background-color: red;
}

.titulo-curriculo {
    float: left;
    margin-left: 20px;
}

.img-curriculo {
    float: left;
}
