.cabecalho-cursos{
    width: 100%;
    text-align: left;
}

.titulo-cursos {
    float: left;
    width: 1100px;
    height: 40px;
}

.empresa-cursos {
    float: left;
    width: 1100px;
}

.data-inicio-cursos, .data-fim-cursos{
    float: left;
    width: 200px;
}

.data-inicio-cursos{
    width: 88px;
}


.data-fim-cursos{
    width: 975px;
}

.cursos-container{
    padding: 15px;
    border-radius: 25px;
    background-color: pink;
}