.div-titulo-e{
    margin-top: 100px;
    width: 200px;
    min-height: 20px;
    max-height: auto;
    text-align: center;

}

.div-corpo-e{
    width: 200px;
    text-align: left;
    min-height: 60px;
    max-height: auto;
}

.container-e{
    display: inline-block;
    width: 220px;
    min-height: 100px;
    max-height: auto;
    padding: 10px 10px;
    border-radius: 25px;
    background-color: #cce6e6;
    margin-left: 80px;
    margin-top: 30px;
}

.a-e{
    display: inline-block;
    width: 1000px;
    min-height: 100px;
    max-height: auto;
    text-align: left;
}