
.container-login {
    text-align: center;
}

.cabecalho-login{
    margin: 0px auto 10px auto;
    width: 150px;
}

.login .txt{
    width: 275px;
}

.login .btn{
    width: 100px;
    background-color: #B2A0DF;
    border-color: #45454B;
    color: #45454B;
}

.login input{ 
    margin: 10px auto 0px auto;
}

.radio{ 
    width: 100px;
    text-align: left;
    margin-left: 180px;
    font-size: 15px;
}

.radio input{ 
    height: 13px;
    width: 13px;
}

.radio label{ 
    margin-top: 5px;
}

 
